#navbar {
  display: flex;
  column-gap: 3rem;
  align-content: center;
  margin: 1.5rem 0;
  padding: 1rem 0;
}

#navbar a {
  color: white;
  text-decoration: none;
}
#navbar a:visited {
  color: white;
  text-decoration: none;
}
#navbar a:hover {
  color: rgb(141, 0, 0);
  text-decoration: none;
}
